body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-card {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-left {
    background-color: #A43232;
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra vertical */
}

.login-left img {
    max-width: 80%;
    margin-bottom: 50px;
}

.login-left p {
    font-size: 14px;
    margin-top: 5px;
}

.login-right {
    background-color: #F7EAD3;
    width: 50%;
    padding: 40px;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-green {
    background-color: #28a745;
    color: white;
    width: 100%;
}

.btn-green:hover {
    background-color: #218838;
}

.forgot-password {
    color: #ff7961;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.alerta-modal .modal-content {
    background-color: #555555;
    color: white;
    text-align: center;
}

.alerta-modal .btn-ok {
    background-color: #28a745;
    color: white;
    width: 100%;
    margin-top: 20px;
}

.alerta-modal .btn-ok:hover {
    background-color: #218838;
}

/* Responsividade: Ajuste o layout para colunas verticais quando a tela for menor */
@media (max-width: 768px) {
    .login-card {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .login-left, .login-right {
        width: 100%;
        border-radius: 0;
    }
    
    .login-left {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .login-right {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }
}


/* Responsividade: Quando a tela for menor, a parte vermelha vai para cima e a amarela para baixo */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .login-left {
        order: 1;
        margin-right: 0; /* Remove o espaçamento lateral */
        margin-bottom: 10px; /* Espaço entre as caixas ao mudar para a vertical */
    }

    .login-right {
        order: 2;
    }
}