body{
    margin: 0;
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav-item:hover{
    background-color: rgba(0, 0, 0, 0.40);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main{
    margin-top: 50px;
    width: 100%;
}
.page{
    position: relative;
    display: flex;
    flex-direction: column;
}
.slidebar{
    background-color: #A43232;
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
}
.logo{
    width: 230px;
    object-position: -10px;
}
a:visited{
    color: #F7EAD3;
}
.linha{
    color: #F7EAD3;
    width: 240px;
    margin-top: 8px;
}
.fotoperfil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.nav-item{
    font-size: 18px;
    margin-bottom: 8px;
}
.active{
    background-color: rgba(0, 0, 0, 0.40);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: solid #F7EAD3 4px;
    color: white;
}
.profile{
    display: flex;
    padding: 0px;
    height: 65px;
}
.active-profile{
    background-color: rgba(0, 0, 0, 0.40);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    font-size: 15px;
    border-left: solid #F7EAD3 4px;
    color: white;
}
.notify{
    border-radius: 10px;
    padding: 9px 5px 0px 5px;
    color: #F7EAD3;
    border: none;
}
.notify:hover{
    color: white;
}
.esp{
    margin-right: 15px;
}
@media (min-width: 640px) {
    .page{
        flex-direction: row;
    }
    .slidebar{
        height: 100vh;
        width: auto;
        position: sticky;
        top: 0;
        display: block;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 250px;
    }
}

